body{
    background-color: #C9EEFF;
    font-family:'VT323', monospace;
    font-size:x-large;
}
.box{
    width: 100vw;
    height: 100vh;
}
.box-el{
    background-color: #E9EDC9;
    padding: 200px;
    padding-top: 150px;
    border: 1px solid black;
    border-radius: 10px;
    position: relative;
}
a{
    text-decoration: none;
    border: 1px solid black;
    border-radius: 6px;
    text-align: center;
    color: black;
    position: absolute;
    padding: 4px;
   
}

a:hover{
    top:57%;
    background-color: red;
    color: black;
} 
